.Top {
    margin-top: 35%;
    text-align: center;
    color: white;
}

.JP {
    font-family: 'M PLUS Rounded 1c';
}

@media (min-width: 500px) {
    .Top {
        margin-top: 15%;
    }
}

@media(max-height: 450px) {
    .Top {
        margin-top: 5%;
    }
}
